.member-title {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 26px;
  font-weight: bold;
}

.member-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.member-card {
  width: 250px;
  background: #fff;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.member-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.member-card h3 {
  margin: 8px 0;
  color: #d63384;
}

.member-card p {
  margin: 3px 0;
  font-size: 14px;
  color: #333;
}

.member-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
