/* LỚP PHỦ TOÀN MÀN HÌNH */
.overlay {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* nếu muốn nằm trên thì đổi thành flex-start */
  padding-top: 60px;
  background: #f5f5f5; /* nền xám nhẹ giống hình bạn */
}

/* KHUNG MENU TRẮNG */
.mega-menu {
  width: 90%;
  max-width: 1200px;
  padding: 30px 40px;
  background: #ffb6c9;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}


.col h3 {
  font-size: 17px;
  margin-bottom: 12px;
}

.col a {
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 14px;
  margin-bottom: 8px;
  transition: 0.2s;
}

.col a:hover {
  color:#d1338d;
  padding-left: 5px;
}

/* tạo khoảng cách giữa 2 nhóm trong cùng 1 cột */
.space-top {
  margin-top: 25px;
}
@media (max-width: 1024px) {
  .mega-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .mega-menu {
    grid-template-columns: 1fr;
  }
}
.back-btn {
    position: fixed;
    top: 90px;
    left: 20px;
    background: #ff5f9e;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 0 10px rgba(255,0,0,0.6);
}
/* Phóng to tiêu đề danh mục */
.mega-menu h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Phóng to chữ link sản phẩm */
.mega-menu a {
  font-size: 17px;
  display: block;
  margin-bottom: 6px;
}

