/* Khung chính của trang chính sách */
.policy-container {
    max-width: 900px;
    margin: 60px auto;      /* canh giữa */
    color: white;          /* chữ trắng */
    line-height: 1.7;
}

/* Tiêu đề lớn */
.policy-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

/* Tiêu đề mục */
.policy-container h2 {
    margin-top: 30px;
    color: #faf9f8; /* vàng nổi */
}

/* Nội dung */
.policy-container p {
    font-size: 16px;
    color: #f1f1f1;
    margin: 10px 0;
}